.avantage {
  background-color: $basic-black;
  background-image: image-set(
    url('../img/avantage/avantage-background.jpg') 1x,
    url('../img/avantage/avantage-background@2x.jpg') 2x,
    url('../img/avantage/avantage-background.webp') 1x,
    url('../img/avantage/avantage-background@2x.webp') 2x
  );
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 113px 0;

  @media (max-width: $tablet-width) {
    background-image: image-set(
      url('../img/avantage/avantage-background-tablet.jpg') 1x,
      url('../img/avantage/avantage-background-tablet@2x.jpg') 2x,
      url('../img/avantage/avantage-background-tablet.webp') 1x,
      url('../img/avantage/avantage-background-tablet@2x.webp') 2x
    );
    padding: 90px 0;
  }

  @media (max-width: 767px) {
    background-image: image-set(
      url('../img/avantage/avantage-background-mobile.jpg') 1x,
      url('../img/avantage/avantage-background-mobile@2x.jpg') 2x,
      url('../img/avantage/avantage-background-mobile.webp') 1x,
      url('../img/avantage/avantage-background-mobile@2x.webp') 2x
    );
    background-position: 50% 0;
    padding: 63px 0;
  }
}

.avantage h2 {
  font-family: $font-semi-bold;
  margin: 0 0 49px 0;
  font-size: 28px;
  line-height: 150%;
  text-align: center;

  @media (max-width: 1159px) {
    font-size: 26px;
  }

  @media (max-width: 767px) {
    font-size: 24px;
    margin: 0 0 28px 0;
  }
}

.avantage ul {
  @include list-zeroing;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;

  @media (max-width: 1159px) {
    gap: 30px;
    justify-content: center;
  }

  @media (max-width: 767px) {
    gap: 25px;
  }
}

.avantage li {
  background-color: $basic-white;
  padding: 30px;
  width: 300px;
  height: 180px;
  overflow-y: scroll;

  @media (max-width: 1159px) {
    padding: 27px 16px 25px 20px;
    width: 170px;
    height: 260px;
  }

  @media (max-width: 767px) {
    width: 100%;
    height: 200px;
  }
}

.avantage li svg {
  width: 27px;
  height: 32px;
  margin-bottom: 10px;

  @media (max-width: 1159px) {
    width: 21px;
    height: 26px;
    margin-bottom: 10px;
  }

  @media (max-width: 767px) {
    width: 21px;
    height: 26px;
    margin-bottom: 13px;
  }
}

.avantage li:nth-child(2) svg {
  width: 38px;
  height: 21px;
  margin-bottom: 21px;
  @media (max-width: 1159px) {
    width: 33px;
    height: 19px;
    margin-bottom: 17px;
  }
  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.avantage li:nth-child(3) svg {
  width: 42px;
  height: 15px;
  margin-bottom: 27px;
  @media (max-width: 1159px) {
    padding-top: 5px;
    width: 38px;
    height: 13px;
    margin-bottom: 17px;
  }
  @media (max-width: 767px) {
    padding-top: 12px;
    margin-bottom: 20px;
  }
}

.avantage h3 {
  font-family: $font-medium;
  margin: 0 0 9px 0;
  font-size: 18px;
  line-height: 150%;
  max-width: 100%;

  @media (max-width: 1159px) {
    margin: 0 0 8px 0;
    max-width: 100%;
  }

  @media (max-width: 767px) {
    margin: 0 0 7px 0;
    max-width: 173px;
  }
}

.avantage p {
  margin: 0;
  font-size: 14px;
  line-height: 19.6px;
  text-align: left;
}
