.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1159px) {
    row-gap: 30px;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    row-gap: 19px;
    align-items: flex-start;
  }
}
