.footer-menu {
  margin-right: 295px;
  @media (max-width: 1159px) {
    margin-right: 63px;
  }
  @media (max-width: 767px) {
    margin-right: 0;
  }
}

.footer-menu ul {
  @include list-zeroing;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 33px;

  @media (max-width: 1159px) {
    gap: 25px;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
  }
}

.footer-menu a {
  color: $basic-white;

  @media (max-width: 1159px) {
    font-size: 12px;
    line-height: 15px;
  }
}
