.trips {
  padding: 115px 0;

  @media (max-width: 1159px) {
    padding: 87px 0 53px 0;
  }

  @media (max-width: 767px) {
    padding: 58px 0;
  }
}

.trips .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 39px;
  align-items: start;

  @media (max-width: 1159px) {
    column-gap: 30px;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.trips__content h2 {
  margin: 57px 0 24px 0;
  font-family: $font-semi-bold;
  font-size: 28px;
  line-height: 150%;
  max-width: 100%;

  @media (max-width: 1159px) {
    margin: 0 0 15px 0;
    font-size: 26px;
    line-height: 140%;
    max-width: 205px;
  }

  @media (max-width: 767px) {
    margin: 0 0 15px 0;
    font-size: 24px;
    line-height: 140%;
  }
}

.trips__content p {
  margin: 0;
  line-height: 150%;

  @media (max-width: 1159px) {
    margin: 0 0 40px 0;
  }

  @media (max-width: 767px) {
    margin: 0 0 25px 0;
  }
}

.trips__image-container {
  margin-top: 0;
  @media (max-width: 1159px) {
    margin-top: 7px;
  }
}

.trips__image-container img {
  object-fit: cover;
  max-width: 560px;
  max-height: 301px;

  @media (max-width: 1159px) {
    min-height: 264px;
    min-width: 324px;
  }

  @media (max-width: 767px) {
    min-height: 186px;
    min-width: 290px;
  }
}
