.trips {
  padding: 120px 0;

  @media (max-width: 1159px) {
    padding: 100px 0;
  }

  @media (max-width: 767px) {
    padding: 65px 0;
  }
}

.trips .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 88px;
  align-items: center;

  @media (max-width: 1159px) {
    column-gap: 30px;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.trips__content h2 {
  margin: 0 0 40px 0;
  font-family: $font-semi-bold;
  font-size: 28px;
  line-height: 150%;

  @media (max-width: 1159px) {
    margin: 0 0 30px 0;
    font-size: 26px;
    line-height: 140%;
  }
}

.trips__content p {
  margin: 0;
  line-height: 150%;

  @media (max-width: 767px) {
    margin: 0 0 40px 0;
  }
}

.trips__image-container img {
  object-fit: cover;
  max-width: 560px;
  max-height: 301px;

  @media (max-width: 1159px) {
    max-height: 264px;
  }

  @media (max-width: 767px) {
    max-height: 186px;
  }
}
